*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chair{
    height: 60%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    transition: all 2s ease-in-out;
}
.s1{
    background-image: url("https://i.pinimg.com/736x/50/df/34/50df34b9e93f30269853b96b09c37e3b.jpg");
    background-size: contain;
}
.section h1{
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-70%,-20%);
    transition: all 1s ease-in-out;
    background: linear-gradient(to left,#87c7df,#648896);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.s2{
    background: linear-gradient(to left top,#cbcbcb,white);
}
.s2 h1{
    font-size: 48px;
    background: linear-gradient(to left,#303030,#414141);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
    margin: 20%;
    width: 50%;
    margin-left: 5%;
    font-size: 20px;
}
.description p{
    margin: 50px 0;
}